Giphy.xcodeproj/xcuserdata/derrickho.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Giphy.xcodeproj/xcuserdata/derrickho.xcuserdatad/xcschemes/Giphy.xcscheme
Giphy.xcodeproj/xcuserdata/derrickho.xcuserdatad/xcschemes/xcschememanagement.plist
